#container {
	margin: 20px 60px 50px 60px;
	background-color: lightgray;
	border-radius: 5px
}

h1 {
	text-align: center;
	padding-top: 50px;
	font-size: 63px;
	font-family: fantasy;
}

h2 {
	text-align: center;
	font-size: 35px;
	font-style: italic;
	margin-top: -40px;
	font-family: fantasy;
}

#img-container {
	background-color: white;
	margin: 0 50px;
	padding: 5px 5px;
	border-radius: 5px;
}

img {
	max-width: 100%;
}

#img-caption {
	text-align: center;
	font-style: arial;
}

#timeline-container {
	margin: 0 250px;
	font-family: arial;
}

h3 {
	font-size: 24px;
	margin-bottom: -10px;
}