#container {
	margin: 20px 60px 0 60px;
	background-color: lightgray;
	font-family: fantasy;
	border-radius: 5px
}

h1 {
	text-align: center;
	padding-top: 50px;
	font-size: 63px;
	font-family: fantasy;
}

h3 {
	text-align: center;
	font-size: 35px;
	font-style: italic;
	margin-top: -40px;
}

#img-container {
	background-color: white;
	margin: 0 50px;
	padding: 5px 5px;
	border-radius: 5px;
}

img {
	max-width: 100%;
}